body {
    background-image: url(../images/darkBrn.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Nav Stuff */

.AmorLogo {
    width: 120px;
}

.navColor {
    background-color: #15100C;
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

.justEnd {
    display: flex;
    justify-content: flex-end;
}

.down {
    display: flex;
    align-items: flex-end;
}

.dropColor {
    background-color: #15100C;
}

.dropInside {
    background-color: #15100C;
    color: white;
    font-size: 20px;
}

.dropInside:hover {
    background-color: #FFD2CF;
    color: black;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #FFD2CF;
}

/* Home Page */

.heroImg {
    background-image: url(../images/akBanner.png);
    height: 600px;
    background-position-y: top;
    background-position-x: center;
    background-size: contain;
    background-repeat: repeat-x;
}

.bottleHov {
    margin-top: 12px;
    height: 640px;
    transition-duration: .4s;
    padding: 30px;
    padding-top: 110px;
}

.bottleHov:hover {
    height: 820px;
    transition-duration: .2s;
}

.marTop {
    margin-top: 200px;
}

.picPad {
    padding: 0px;
}

/* Part 1 */

.meetUs {
    background-color: #FFD2CF;
    text-align: center;
    color: black;
    opacity: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.homePgH1 {
    font-size: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: black;
}

.homebox1 {
    background-color: #FFD2CF;
    opacity: 80%;
    border-radius: 25px;
}

.HomepTag {
    font-size: 25px;
    padding-top: .9vw;
    padding-left: .5vw;
    padding-right: .5vw;
    color: black;
    margin-bottom: 3px;
}

.pMini {
    font-size: 20px;
    color: black;
    padding-top: 0 !important;
    margin-bottom: 2px;
}

.homePic {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    width: auto;
}

/* Part 2 */

.farmToBottle {
    background-color: #D3D3B1;
    text-align: center;
    color: black;
    opacity: 80%;
    border-radius: 20px;
}

.homebox2 {
    background-color: #D3D3B1;
    opacity: 80%;
    border-radius: 30px;
}

/* Part 3 */

.WhatIsAmor {
    background-color: #AAC5CB;
    text-align: center;
    opacity: 80%;
    color: black;
    border-radius: 20px;
}

.homebox3 {
    opacity: 80%;
    border-radius: 30px;
    background-color: #AAC5CB;
}

.productsTitle {
    display: flex;
    justify-content: center;
    background-color: #EBC7C3;
    font-size: 60px;
    opacity: 0.9;
    border-radius: 25px;
    font-family: norwester;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

.fourAmor {
    border-radius: 40px;
    height: 90%;
    width: 101%;
}

.productsDescription {
    font-size: 25px;
    background-color: #EBC7C3;
    opacity: 0.9;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 2%;
}

.noPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.card1 {
    background-color: #E7BD68;
    border-radius: 20px;
}

.card2 {
    background-color: #F6E5DB;
    border-radius: 20px;
}

.card3 {
    background-color: #D3D3B1;
    border-radius: 20px;
}

.card4 {
    background-color: #F1CAC5;
    border-radius: 20px;
}

.card-img-top {
    border-radius: 20px 20px 0px 0px;
}

.card-body-1 {
    background-color: #707070;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-family: norwester;
}

.card-body-2 {
    background-color: #E7BD68;
}

.card-body-3 {
    background-color: #F6E5DB;
}

.card-body-4 {
    background-color: #D3D3B1;
}

.card-body-5 {
    background-color: #F1CAC5;
}

.card {
    border: none;
}

.card-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.card-text {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardbodyText {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardBorder {
    border-radius: 20px;
}

.cardImageBorder {
    border-radius: 40px;
}

.stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.htoTitle {
    display: flex;
    justify-content: center;
    background-color: #F6E5DB;
    font-size: 60px;
    opacity: 0.9;
    border-radius: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.accordianBG {
    background-color: #F6E5DB;
    font-family: norwester;
}

.accordianTextBG {
    background-color: #f5efec;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btnText {
    color: black;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btnText:hover {
    color: black;
}

/*Navbar Code*/

.navColor {
    background-color: #15100C;
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.justEnd {
    display: flex;
    justify-content: flex-end;
}

.down {
    display: flex;
    align-items: flex-end;
}

.dropColor {
    background-color: #15100C;
}

.dropInside {
    background-color: #15100C;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropInside:hover {
    background-color: #FFD2CF;
    color: black;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #FFD2CF;
}

/*Footer Code*/

.footerColor {
    background-color: #15100C;
    color: white;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.awesomeIcon {
    color: white;
}

.awesomeIcon:hover {
    color: white;
}

/*Modal Code*/

.awesomeModal {
    color: black;
}

.awesomeModal:hover {
    color: black;
}

.modalFont {
    font-size: 20px;
}

.btnColor {
    background-color: #F1CAC5;
    color: black;
}

.carousel-inner {
    border-radius: 20px;
}

.accordianBorder {
    border-radius: 20px;
}

.bottle {
    height: 175%;
    width: 175%;
}

.AmorLogo {
    width: 120px;
}

/* Smol Media Query */

@media only screen and (min-width: 320px) {
    .AmorLogo {
        width: 120px;
        margin-left: 20px;
    }
    .bottleHov {
        height: 400px;
    }
    .bottleHov:hover {
        height: 600px;
    }
    .meetUs {
        margin-top: 0px;
    }
    .HomepTag {
        font-size: 18px;
    }
    .homePgH1 {
        font-size: 40px;
    }
    .marTop {
        margin-top: 50px;
    }
    .modalFont {
        font-size: 15px;
    }
    .picPad {
        padding: 0!;
    }
}

/* Medium Media Query */

@media only screen and (min-width: 600px) {
    .AmorLogo {
        width: 150px;
    }
    .bottleHov {
        height: 640px;
    }
    .bottleHov:hover {
        height: 800px;
    }
    .meetUs {
        margin-top: 200px;
    }
    .HomepTag {
        font-size: 25px;
    }
    .homePgH1 {
        font-size: 60px;
    }
    .marTop {
        margin-top: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .HomepTag {
        font-size: 1.5vw;
    }
    .picPad {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (min-width: 320px) {
    .modalFont {
        font-size: 15px;
    }
    .AmorLogo {
        width: 120px;
        margin-left: 20px;
    }
    .productsTitle {
        display: flex;
        justify-content: center;
        background-color: #EBC7C3;
        font-size: 40px;
        opacity: 0.9;
        border-radius: 25px;
        font-family: norwester;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .productsDescription {
        font-size: 16px;
        background-color: #EBC7C3;
        opacity: 0.9;
        border-radius: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 2%;
    }
    .htoTitle {
        display: flex;
        justify-content: center;
        background-color: #F6E5DB;
        font-size: 40px;
        opacity: 0.9;
        border-radius: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .accordianTextBG {
        font-size: 14px;
        background-color: #f5efec;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .bottle {
        height: 250%;
        width: 250%;
    }
}

@media only screen and (min-width: 340px) {
    .bottle {
        height: 200%;
        width: 200%;
    }
}

@media only screen and (min-width: 390px) {
    .bottle {
        height: 175%;
        width: 175%;
    }
}

@media only screen and (min-width: 425px) {
    .btnText {
        font-size: 19px;
        color: black;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .accordianTextBG {
        font-size: 19px;
        background-color: #f5efec;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@media only screen and (min-width: 465px) {
    .bottle {
        height: 150%;
        width: 150%;
    }
}

@media only screen and (min-width: 600px) {
    .AmorLogo {
        width: 150px;
    }
    .modalFont {
        font-size: 20px;
    }
    .btnText {
        font-size: 20px;
        color: black;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .accordianTextBG {
        font-size: 20px;
        background-color: #f5efec;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .bottle {
        height: 125%;
        width: 125%;
    }
    .footerColor {
        background-color: #15100C;
        color: white;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@media only screen and (min-width: 992px) {
    .btnText {
        font-size: 15px;
        color: black;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .accordianTextBG {
        font-size: 15px;
        background-color: #f5efec;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .footerColor {
        background-color: #15100C;
        color: white;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@media only screen and (min-width: 1200px) {
    .bottle {
        height: 250%;
        width: 250%;
    }
    .footerColor {
        background-color: #15100C;
        color: white;
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .fourAmor {
        border-radius: 40px;
        height: 85%;
        width: 101%;
    }
    .productsDescription {
        font-size: 14px;
        background-color: #EBC7C3;
        opacity: 0.9;
        border-radius: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 2%;
    }
}

@media only screen and (min-width: 1250px) {
    .bottle {
        height: 150%;
        width: 150%;
    }
    .fourAmor {
        border-radius: 40px;
        height: 95%;
        width: 101%;
    }
}

@media only screen and (min-width: 1440px) {
    .productsTitle {
        display: flex;
        justify-content: center;
        background-color: #EBC7C3;
        font-size: 60px;
        opacity: 0.9;
        border-radius: 25px;
        font-family: norwester;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .productsDescription {
        font-size: 16px;
        background-color: #EBC7C3;
        opacity: 0.9;
        border-radius: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 2%;
    }
    .htoTitle {
        display: flex;
        justify-content: center;
        background-color: #F6E5DB;
        font-size: 60px;
        opacity: 0.9;
        border-radius: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .fourAmor {
        border-radius: 40px;
        height: 90%;
        width: 100%;
    }
}

@media only screen and (min-width: 1760px) {
    .productsDescription {
        font-size: 18px;
        background-color: #EBC7C3;
        opacity: 0.9;
        border-radius: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 2%;
    }
    .fourAmor {
        border-radius: 40px;
        height: 96%;
        width: 100%;
    }
}

.productsDescription {
    font-size: 21px;
    background-color: #EBC7C3;
    opacity: 0.9;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 2%;
}

@media only screen and (min-width: 1960px) {
    .fourAmor {
        border-radius: 40px;
        height: 90%;
        width: 101%;
    }
    .productsTitle {
        display: flex;
        justify-content: center;
        background-color: #EBC7C3;
        font-size: 60px;
        opacity: 0.9;
        border-radius: 25px;
        font-family: norwester;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .productsDescription {
        font-size: 21px;
        background-color: #EBC7C3;
        opacity: 0.9;
        border-radius: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 2%;
    }
    .htoTitle {
        display: flex;
        justify-content: center;
        background-color: #F6E5DB;
        font-size: 60px;
        opacity: 0.9;
        border-radius: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .card-title {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
    }
    .card-text {
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .cardbodyText {
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .accordianTextBG {
        font-size: 25px;
        background-color: #f5efec;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .btnText {
        font-size: 25px;
        color: black;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .footerColor {
        background-color: #15100C;
        color: white;
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .bottle {
        height: 125%;
        width: 125%;
    }
}

@media only screen and (min-width: 2100px) {
    .productsDescription {
        font-size: 24px;
        background-color: #EBC7C3;
        opacity: 0.9;
        border-radius: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 2%;
    }
}

@media only screen and (min-width: 2200px) {
    .fourAmor {
        border-radius: 40px;
        height: 93%;
        width: 101%;
    }
    .productsDescription {
        font-size: 27px;
        background-color: #EBC7C3;
        opacity: 0.9;
        border-radius: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 2%;
    }
}